header {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}
#page-title {
  font-size: 1.5em;
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

#banner {
  background-image: url("./img/banner.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 50px;
  text-align: center;
}

#banner img {
  width: 200px;
  margin-bottom: 20px;
}

#banner h1 {
  font-size: 3em;
  font-family: sans-serif;
  color: white;
}

.botao {
  width: fit-content;
  padding: 10px 90px;
  background-color: #57005a;
  font-size: 1.5em;
  color: white;
  border: #57005a 1px solid;
}

.botao:hover {
  background-color: white;
  color: #57005a;
  border: #57005a 1px solid;
}

.botao2 {
  width: fit-content;
  padding: 10px 90px;
  background-color: rgb(30, 204, 245);
  font-size: 1.5em;
  color: white;
  border: rgb(30, 204, 245) 1px solid;
}

.botao2:hover {
  background-color: white;
  color: rgb(30, 204, 245);
  border: rgb(30, 204, 245) 1px solid;
}

#infos-importantes {
  background-color: #9f42f1;
  color: white;
  box-shadow: -14px 18px 20px 0px #e0e0e0;
}

.divisa {
  border: 2px solid #57005a;
  margin: 0 0;
  opacity: 1;
  width: 6%;
  min-width: 100px;
  margin: auto;
}

footer.container img {
  width: 100px;
}

footer.container {
  padding: 0px 300px;
}
