html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

/* Banner */
#banner {
  background-image: url("./img/banner.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 50px;
  text-align: center;
  width: 100%;
}

#banner img {
  width: 200px;
  margin-bottom: 20px;
}

#banner h1 {
  font-size: 3em;
  font-family: sans-serif;
  color: white;
}

/* Botões */
.botao {
  width: fit-content;
  padding: 10px 90px;
  background-color: #57005a;
  font-size: 1.5em;
  color: white;
  border: #57005a 1px solid;
}

.botao:hover {
  background-color: white;
  color: #57005a;
  border: #57005a 1px solid;
}

.botao2 {
  width: fit-content;
  padding: 10px 90px;
  background-color: rgb(30, 204, 245);
  font-size: 1.5em;
  color: white;
  border: rgb(30, 204, 245) 1px solid;
}

.botao2:hover {
  background-color: white;
  color: rgb(30, 204, 245);
  border: rgb(30, 204, 245) 1px solid;
}

#infos-importantes {
  background-color: #57005a;
  color: white;
  box-shadow: -7px 8px 0px 0px #8b8b8b;
}

#categorias {
  background-color: #57005a;
  color: white;
  padding: 40px 60px;
  text-align: justify;
}

#categorias b {
  font-size: 1.1em;
}

.divisa {
  border: 2px solid #57005a;
  opacity: 1;
  width: 6%;
  min-width: 100px;
  margin: 1rem auto;
}

.divisa-left {
  border: 2px solid #57005a;
  opacity: 1;
  width: 6%;
  min-width: 100px;
  margin: 1rem 0px;
}

.divisa-branca {
  border: 2px solid white;
  opacity: 1;
  width: 6%;
  min-width: 100px;
  margin: 1rem auto;
}

footer img {
  width: 150px;
  aspect-ratio: 1/1;
}

.card {
  background-color: #57005a;
  color: white;
  padding: 30px 30px;
  margin: 20px 0px;
}

.card h6 {
  font-size: 1.7em;
  text-align: center;
}

.card.conteudo {
  background-color: white;
  color: black;
  padding: 30px 30px;
}

/* Classe de animação */
.fade-in-out {
  transition: opacity 2s ease-in-out; /* Propriedades de transição */
  opacity: 0; /* Começa com opacidade 0 */
  display: none;
}
.fade-in-out.show {
  opacity: 1; /* Quando a classe 'show' é adicionada, a opacidade se torna 1 */
}
